{% extends "base.html" %}
{% block title %}Export Flowchart{% endblock %}

{% block content %}

<style>
  form {
    width: 300px;
    margin: 0 0 0 20px; /*margin positions: top right bottom left*/
  }
  .btn {
    transition: none;
    background-color: #990f0f;
    border-color: #990f0f;
    }
  .btn:hover {
    background-color: grey;
    border-color: grey;
  }
</style>

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <section>{{ message }}</section>
    </div>
{% endif %}

<p>Export</p>

{% endblock %}