{% extends "base.html" %}
{% block title %}Flowchart Editor{% endblock %}

{% block head %}
<style>
    
    .course {
        border: 2px solid grey;
        border-radius: 5px;
        width: 110px;
        height: 110px;
        padding: 10px 10px 10px 10px;
        margin: 10px 10px 10px 10px;
    }
</style>

<script>
    function func() {
        document.getElementById("try").style.backgroundColor="red";
    }
</script>

{% endblock %}

{% block content %}

<p>Hello You have Logged in as {{ email }}</p>

<div class="container-fluid">
    <div class="row">
        <div class="column course" id="try" onclick="func()">EN 101</div>
        <div class="column course">ENGR 103</div>
        <div class="column course">MATH 125</div>
        <div class="column course">CS 100</div>
        <div class="column course">CS 121</div>
    </div>
    <div class="row">
        <div class="column course">EN 102</div>
        <div class="column course">HI/SB Elective</div>
        <div class="column course">MATH 126</div>
        <div class="column course">CS 101</div>
    </div>
    <div class="row">
        <div class="column course">HU/L/FA Elective #1 (sequence)</div>
        <div class="column course">MATH 301</div>
        <div class="column course">CS 200</div>
        <div class="column course">ECE 380</div>
    </div>
    <div class="row">
        <div class="column course">HU/L/FA Elective #2 (sequence)</div>
        <div class="column course">Nat Science Elective (N)</div>
        <div class="column course">MATH 302</div>
        <div class="column course">CS 201</div>
        <div class="column course">ECE 383</div>
    </div>
    <div class="row">
        <div class="column course">Free Elective</div>
        <div class="column course">HI/SB Elective</div>
        <div class="column course">GES 255/ MATH 355</div>
        <div class="column course">CS 300</div>
        <div class="column course">CS 301</div>
    </div>
    <div class="row">
        <div class="column course">Free Elective</div>
        <div class="column course">HI/SB Elective</div>
        <div class="column course">MATH 237</div>
        <div class="column course">CS 403</div>
        <div class="column course">CS 4xx</div>
    </div>
    <div class="row">
        <div class="column course">Free Elective</div>
        <div class="column course">HU/L/FA Elective</div>
        <div class="column course">Nat Science #1 (sequence, N)</div>
        <div class="column course">CS 470/475</div>
        <div class="column course">CS 4xx</div>
    </div>
    <div class="row">
        <div class="column course">Free Elective</div>
        <div class="column course">Free Elective</div>
        <div class="column course">Nat Science #2 (sequence, N)</div>
        <div class="column course">CS 495</div>
    </div>
</div>

{% endblock %}