{% extends "base.html" %}
{% block title %}Flowchart Editor{% endblock %}

{% block head %}
<style>
    
    #course {
        border: 2px solid grey;
        border-radius: 5px;
        padding: 5px;
        z-index: 2;
    }
</style>
<script>
    function dragStart(ev) {
        ev.dataTransfer.effectAllowed='move';
        ev.dataTransfer.setData("Text", ev.target.getAttribute('id'));
        ev.dataTransfer.setDragImage(ev.target,0,0);
        return true;
    }

    function dragEnter(ev) {
        event.preventDefault();
        return true;
    
    }

    function dragOver(ev) {
        return false;
    }

    function dragDrop(ev) {
        var src = ev.dataTransfer.getData("Text");
        ev.target.appendChild(document.getElementById(src));
        ev.stopPropagation();
        return false;
    }
</script>

{% endblock %}

{% block content %}

<p>Hello You have Logged in as {{ email }}</p>

<div class="container-fluid" style=" position: absolute; bottom: 0px; top: 0px; left: 0px; right: 0px;">
    <div class="row" style="height: 100%; position: relative;">
        <div class="col-xs-3" style="background-color: #9acfea; width: 25%; position: absolute; top: 0px; bottom: 0px; left: 0px;">
            <h2>Courses</h2>
            <h3 id="course" draggable="true" ondragstart="return dragStart(event)">CS 100</h3>
            <h3 id="course" draggable="true" ondragstart="return dragStart(event)">CS 101</h3>
            <h3 id="course" draggable="true" ondragstart="return dragStart(event)">CS 121</h3>
        </div>
        <div class="col-xs-9 bin" style="background-color: beige; width: 75%; position: absolute; top: 0px; bottom: 0px; right: 0px">
            <h2>Flowchart</h2>
            <div ondragenter="return dragEnter(event)" ondrop="return dragDrop(event)" ondragover="return dragOver(event)" style="border: 2px solid grey; width: 400px; height: 400px;"></div>
        </div>    
    </div>
</div>

{% endblock %}