{% extends "base.html" %}
{% block title %}Flowchart Editor{% endblock %}

{% block head %}

<style>
    
    .course {
        border: 2px solid grey;
        border-radius: 5px;
        width: 250px;
        height: 250px;
        padding: 10px 10px 10px 10px;
        margin: 10px 10px 10px 10px;
        text-align: center;
    }

    .color {
        border: 2px solid grey;
        border-radius: 5px;
        width: 110px;
        height: 30px;
        margin: 10px 10px 10px 10px;
        padding: 2px 2px 2px 2px;
        text-align: center;
    }

</style>

<script>

    let curColor = "white";

    function color(id) {
        if (id == ("taken")) {
            curColor = "green";
            document.getElementById(id).style.backgroundColor=curColor;
            document.getElementById("inprogress").style.backgroundColor="white";
            document.getElementById("future").style.backgroundColor="white";
        }
        if (id == "inprogress") {
            curColor = "blue";
            document.getElementById(id).style.backgroundColor=curColor;
            document.getElementById("taken").style.backgroundColor="white";
            document.getElementById("future").style.backgroundColor="white";
        }
        if (id == "future") {
            curColor = "red";
            document.getElementById(id).style.backgroundColor=curColor;
            document.getElementById("taken").style.backgroundColor="white";
            document.getElementById("inprogress").style.backgroundColor="white";
        }
    }

    function change(id) {
        document.getElementById(id).style.backgroundColor=curColor;
        // newid = "picker c" + id
        // if (curColor == "green") {
        //     document.getElementById(newid).value="#008000";
        // }
        // if (curColor == "blue") {
        //     document.getElementById(newid).value="#0000FF";
        // }
        // if (curColor == "red") {
        //     document.getElementById(newid).value="#FF0000";
        // }
        newid = "d" + id
        if (curColor == "green") {
            document.getElementById(newid).value="taken";
        }
        if (curColor == "blue") {
            document.getElementById(newid).value="inprogress";
        }
        if (curColor == "red") {
            document.getElementById(newid).value="future";
        }
    }

</script>

{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}

<form action="" method="post">

    <div class="form-group">
        <label for="FlowchartName">Flowchart Name</label>
        <input name="flowchartname" class="form-control" id="inputFlowchartName" aria-describedby="emailHelp" placeholder="New Flowchart Name" style="width: 40%">
        <small id="flowchartname" class="form-text text-muted"></small>
        <button type="submit" class="btn btn-primary" onclick="enable()">Save</button>
  </div>

<div class="container-fluid form-group">
    <div class="row">
        <div class="column color" id="taken" onclick="color('taken')">Taken</div>
        <div class="column color" id="inprogress" onclick="color('inprogress')">In Progress</div>
        <div class="column color" id="future" onclick="color('future')">Future</div>
    </div>
    <div class="row">
        <div class="column course" id="1" onclick="change('1')">
            EN 101<br>
            <select hidden name="d1" class="form-select form-select-sm" id="d1" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="2" onclick="change('2')">
            ENGR 103<br>
            <select hidden name="d2" class="form-select form-select-sm" id="d2" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="3" onclick="change('3')">
            MATH 125<br>
            <select hidden name="d3" class="form-select form-select-sm" id="d3" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="4" onclick="change('4')">
            CS 100<br>
            <select hidden name="d4" class="form-select form-select-sm" id="d4" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="5" onclick="change('5')">
            CS 121<br>
            <select hidden name="d5" class="form-select form-select-sm" id="d5" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
    </div>
    <div class="row">
        <div  class="column course" id="6" onclick="change('6')">
            EN 102<br>
            <select hidden name="d6" class="form-select form-select-sm" id="d6" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="7" onclick="change('7')">
        <!--create text area box to fill out elective-->
            <div class="form-outline w-100 mb-4" id="7Box">                
                <label for="fillOutElective">HI/SB Elective</label>
                
                <!-- if no elective has been filled out yet (checking the database)-->
                <textarea class="form-control" id="electiveText" rows="1"></textarea>
                <small id="7ElectiveHelp" class="form-text text-muted">Please enter course designation and number (i.e. EN 101)</small>
                <button type="button" name="7Button" value="7Button" class="btn btn-primary btn-block mb-4" id="7Button" onclick="click_button()">Submit</button>                
                
                <!-- else if elective information exists / has been submitted: offer an edit button -->
                <h3 id="7OutputElective"></h3>
                <!-- <button type="button" name="7Edit" value="7Edit" class="btn btn-primary btn-block mb-4" id="7Edit">Edit Elective</button>               
                <script>
                    document.getElementById("7Edit").style.visibility = "hidden"
                </script> -->
            </div>
            <select hidden name="d7" class="form-select form-select-sm" id="d7" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="8" onclick="change('8')">
            MATH 126<br>
            <select hidden name="d8" class="form-select form-select-sm" id="d8" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div  class="column course" id="9" onclick="change('9')">
            CS 101<br>
            <select hidden name="d9" class="form-select form-select-sm" id="d9" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
    </div>
    <div class="row">
        <div class="column course" id="10" onclick="change('10')">
            HU/L/FA Elective #1 (sequence)<br>
            <select hidden name="d10" class="form-select form-select-sm" id="d10" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="11" onclick="change('11')">
            MATH 301<br>
            <select hidden name="d11" class="form-select form-select-sm" id="d11" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="12" onclick="change('12')">
            CS 200<br>
            <select hidden name="d12" class="form-select form-select-sm" id="d12" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="13" onclick="change('13')">
            ECE 380<br>
            <select hidden name="d13" class="form-select form-select-sm" id="d13" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
    </div>
    <div class="row">
        <div class="column course" id="14" onclick="change('14')">
            HU/L/FA Elective #2 (sequence)<br>
            <select hidden name="d14" class="form-select form-select-sm" id="d14" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="15" onclick="change('15')">
            Nat Science Elective (N)<br>
            <select hidden name="d15" class="form-select form-select-sm" id="d15" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="16" onclick="change('16')">
            MATH 302<br>
            <select hidden name="d16" class="form-select form-select-sm" id="d16" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="17" onclick="change('17')">
            CS 201<br>
            <select hidden name="d17" class="form-select form-select-sm" id="d17" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="18" onclick="change('18')">
            ECE 383<br>
            <select hidden name="d18" class="form-select form-select-sm" id="d18" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
    </div>
    <div class="row">
        <div class="column course" id="19" onclick="change('19')">
            Free Elective<br>
            <select hidden name="d19" class="form-select form-select-sm" id="d19" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="20" onclick="change('20')">
            HI/SB Elective<br>
            <select hidden name="d20" class="form-select form-select-sm" id="d20" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="21" onclick="change('21')">
            GES 255/ MATH 355<br>
            <select hidden name="d21" class="form-select form-select-sm" id="d21" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="22" onclick="change('22')">
            CS 300<br>
            <select hidden name="d22" class="form-select form-select-sm" id="d22" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="23" onclick="change('23')">
            CS 301<br>
            <select hidden name="d23" class="form-select form-select-sm" id="d23" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
    </div>
    <div class="row">
        <div  class="column course" id="24" onclick="change('24')">
            Free Elective<br>
            <select hidden name="d24" class="form-select form-select-sm" id="d24" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="25" onclick="change('25')">
            HI/SB Elective<br>
            <select hidden name="d25" class="form-select form-select-sm" id="d25" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="26" onclick="change('26')">
            MATH 237<br>
            <select hidden name="d26" class="form-select form-select-sm" id="d26" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="27" onclick="change('27')">
            CS 403<br>
            <select hidden name="d27" class="form-select form-select-sm" id="d27" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="28" onclick="change('28')">
            CS 4xx<br>
            <select hidden name="d28" class="form-select form-select-sm" id="d28" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
    </div>
    <div class="row">
        <div class="column course" id="29" onclick="change('29')">
            Free Elective<br>
            <select hidden name="d29" class="form-select form-select-sm" id="d29" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="30" onclick="change('30')">
            HU/L/FA Elective<br>
            <select hidden name="d30" class="form-select form-select-sm" id="d30" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="31" onclick="change('31')">
            Nat Science #1 (sequence, N)<br>
            <select hidden name="d31" class="form-select form-select-sm" id="d31" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="32" onclick="change('32')">
            CS 470/475<br>
            <select hidden name="d32" class="form-select form-select-sm" id="d32" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="33" onclick="change('33')">
            CS 4xx<br>
            <select hidden name="d33" class="form-select form-select-sm" id="d33" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
    </div>
    <div class="row">
        <div class="column course" id="34" onclick="change('34')">
            Free Elective<br>
            <select hidden name="d34" class="form-select form-select-sm" id="d34" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="35" onclick="change('35')">
            Free Elective<br>
            <select hidden name="d35" class="form-select form-select-sm" id="d35" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="36" onclick="change('36')">
            Nat Science #2 (sequence, N)<br>
            <select hidden name="d36" class="form-select form-select-sm" id="d36" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
        <div class="column course" id="37" onclick="change('37')">
            CS 495<br>
            <select hidden name="d37" class="form-select form-select-sm" id="d37" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="taken">Taken</option>
                <option value="inprogress">In Progress</option>
                <option value="future">Future</option>
              </select>
        </div>
    </div>
</div>

</form>

<!--including javascript-->
<!-- <script type="text/javascript" src="/Users/bradywachs/Documents/School/Senior Year/CS495/uflow/sourcecode/templates/javascriptedit_elective.js"></script> -->

<script>
    function click_button() {
        var elective_textarea = document.getElementById("electiveText");
        var elective_name = elective_textarea.value; 
        var button = document.getElementById("7Button");
        var submit_info = document.getElementById("7ElectiveHelp");

        button.innerHTML = "Edit Elective";
        submit_info.style.visibility = "hidden";
        elective_textarea.style.visibility = "hidden";
        document.getElementById("7OutputElective").innerHTML = elective_name;
    }
</script>

{% endblock %}

