
{% extends "base.html" %}
{% block title %}You've logged in {% endblock %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<style>
    div.fc_block {
        background-color: rgb(236, 211, 177);
        margin: 0 50% 10px 20px;
        padding: 0 0 20px 20px;
        border-radius: 10px;
        border-style: solid;
        border-width: 2px;
    }

    .fc_edit, .fc_delete {
        font-weight: bold;
        border-style: solid;
        border-radius: 10px;
        border-color: #990f0f;
        background: transparent;
        padding: 5px 20px 5px 20px;
        margin-right: 5px;
    }

    .fc_edit {
        color:white;
        background-color: #990f0f;
    }

    .fc_delete {
        color:black;
        background-color: #ffffff;
    }

    .fc_add {
        background-color: rgb(255, 244, 230);
        margin: 0 50% 10px 20px;
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        border-color:grey;
        color: rgb(141, 121, 94);
        border-style: dotted;
        border-width: 2px;
        font-weight: bold;
    }

    .fc_add:hover {
        background-color:white;
        color: black;
        border-style: solid;
    }

    .fc_edit:hover {
        background-color:white;
        color: black;
        border-color: black;
    }

    .fc_delete:hover {
        border-color: black;
    }

    .msg_greeting {
        background-color: #e0c7c7;
        color:rgb(73, 62, 62);
        margin: 0 0 30px 0;
        padding: 5px 0 5px 20px;
    }

    .heading {
        position: center;
    }
</style>

<body>
    <div class="msg_greeting">
            <section>You are logged in as {{ email }}</section>
    </div>
    <div class="fc_block_new">
        <form action="/flowchart-new">
            <input class="fc_add" type="submit" value="Add a new flowchart +">
        </form>
    </div>
    <table width="100%">
            <td>
                <div class="fc_list">
                    {%for x in range(names|length)%}
                    <div class="fc_block" style="background: repeating-linear-gradient(45deg,#F0D0A0,#F0D0A0 70%, {{fcBgColors[x]}} 70%, {{fcBgColors[x]}} 100% );">
                        <br><h3>{{names[x]}}</h3>
                        <table>
                            <tr>
                                <td><form action="/flowchart-edit/{{names[x]}}">
                                    <input class="fc_edit" type="submit" value="Edit">
                                </form></td>
                                <td><form action="" method="post">
                                    <input class="fc_delete" type="submit" value="Delete">
                                    <select hidden name="name" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option selected value="{{names[x]}}">{{names[x]}}</option>
                                    </select>
                                </form></td>
                                <td>
                                    <body>
                                        <p class = "p1">
                                            N/A% Complete
                                        </p>
                                    </body>
                                </td>
                            </tr>
                            </table>
                        </div>
                    </div>
                    {%endfor%}   
                </div>
            </td>
    </table>
</body>
<!--Placeholders. When finished there should be a list of flowcharts that you have saved, added with a single button, each with an edit and delete button.-->

<script>
    x = document.getElementsByClassName("p1");
    var count = 0;
    var percentage = 0;
    var tempPercentage = 0;
    var fcCounter=0;
    "{%for i in data %}"
        "{%for j in i %}"
            if ("{{j}}" != "") count++;
        "{%endfor%}"
        tempPercentage = (count/37)*100;
        percentage = tempPercentage.toFixed(0);
        x[fcCounter].innerText=percentage+"% Complete";
        count = 0;
        fcCounter++;
    "{%endfor%}"
</script>
{% endblock %}